pipeline/pl_onprem_sql_to_adls.json
{
	"name": "pl_onprem_sql_to_adls",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata12",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DelimitedText2",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Check Files Exist",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata12",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(length(activity('Get Metadata12').output.childItems), 0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "ForEach1",
							"type": "ForEach",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"items": {
									"value": "@activity('Get Metadata12').output.childItems",
									"type": "Expression"
								},
								"isSequential": false,
								"batchCount": 4,
								"activities": [
									{
										"name": "Data flow1",
										"type": "ExecuteDataFlow",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 2,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataflow": {
												"referenceName": "ErrorRowsHandlingDataFlow",
												"type": "DataFlowReference",
												"parameters": {
													"p_filename": {
														"value": "@item().name",
														"type": "Expression"
													}
												},
												"datasetParameters": {
													"source1": {
														"file_name": {
															"value": "@item().name",
															"type": "Expression"
														}
													}
												}
											},
											"compute": {
												"coreCount": 8,
												"computeType": "General"
											},
											"traceLevel": "Fine"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"concurrency": 3,
		"annotations": []
	}
}
